<script src="//maps.google.com/maps/api/js"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script>
  document.addEventListener("turbolinks:load", function()
  {
    if ($('#events').length > 0)
    {
      EventPoller.poll();
    }
  });

</script>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "events.js" %>
<% end %>

<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= form_tag events_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<div id="events" data-url="<%= %>">
    <table id="events-table" style="width: 100%;">
  <thead id="events-table-head">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Followers</th>
      <th>Interactions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="events-table-body">
  <%= render partial: "events/eventrow", :collection => @events, cached: true, :as => :event %>
  </tbody>

</table>
</div>
<br>

<%= link_to 'New Event', new_event_path, :class => 'btn-lg btn-primary' %>
<br /><br />

<%= render partial: "events/map", :events => @events %>
