<script src="//maps.google.com/maps/api/js"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<% content_for :javascript_includes do %>
    <%= javascript_include_tag "events.js" %>
<% end %>

<p id="notice"><%= notice %></p>
<%= link_to 'Home', events_path %></td>

<h1>Events</h1>

<%= form_tag events_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Location</th>
      <th>Followers</th>
      <th>Interactions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event.followers %></td>
        <td><%= event.interactions %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
<br>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    <% @events.each do |event| %>
    {
      "lat": <%=event.lat%>,
      "lng": <%=event.long%>,
      "infowindow": ""+<%=event.lat%>
    },
    <% end %>
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>


